
Tech-sell-user/05 - IoC/Tech-sell-user.IoC/obj/Tech-sell-user.IoC.csproj.nuget.g.targets
Tech-sell-user/05 - IoC/Tech-sell-user.IoC/obj/Tech-sell-user.IoC.csproj.nuget.g.props
Tech-sell-user/05 - IoC/Tech-sell-user.IoC/obj/Tech-sell-user.IoC.csproj.nuget.dgspec.json
Tech-sell-user/05 - IoC/Tech-sell-user.IoC/obj/project.nuget.cache
Tech-sell-user/05 - IoC/Tech-sell-user.IoC/obj/project.assets.json
Tech-sell-user/05 - IoC/Tech-sell-user.IoC/obj/Debug/net7.0/Tech-sell-user.IoC.pdb
Tech-sell-user/05 - IoC/Tech-sell-user.IoC/obj/Debug/net7.0/Tech-sell-user.IoC.GlobalUsings.g.cs
Tech-sell-user/05 - IoC/Tech-sell-user.IoC/obj/Debug/net7.0/Tech-sell-user.IoC.GeneratedMSBuildEditorConfig.editorconfig
Tech-sell-user/05 - IoC/Tech-sell-user.IoC/obj/Debug/net7.0/Tech-sell-user.IoC.dll
Tech-sell-user/05 - IoC/Tech-sell-user.IoC/obj/Debug/net7.0/Tech-sell-user.IoC.csproj.FileListAbsolute.txt
Tech-sell-user/05 - IoC/Tech-sell-user.IoC/obj/Debug/net7.0/Tech-sell-user.IoC.csproj.CoreCompileInputs.cache
Tech-sell-user/05 - IoC/Tech-sell-user.IoC/obj/Debug/net7.0/Tech-sell-user.IoC.csproj.AssemblyReference.cache
Tech-sell-user/05 - IoC/Tech-sell-user.IoC/obj/Debug/net7.0/Tech-sell-user.IoC.assets.cache
Tech-sell-user/05 - IoC/Tech-sell-user.IoC/obj/Debug/net7.0/Tech-sell-user.IoC.AssemblyInfoInputs.cache
Tech-sell-user/05 - IoC/Tech-sell-user.IoC/obj/Debug/net7.0/Tech-sell-user.IoC.AssemblyInfo.cs
Tech-sell-user/05 - IoC/Tech-sell-user.IoC/obj/Debug/net7.0/refint/Tech-sell-user.IoC.dll
Tech-sell-user/05 - IoC/Tech-sell-user.IoC/obj/Debug/net7.0/ref/Tech-sell-user.IoC.dll
Tech-sell-user/05 - IoC/Tech-sell-user.IoC/obj/Debug/net7.0/_IsIncrementalBuild
Tech-sell-user/05 - IoC/Tech-sell-user.IoC/obj/Debug/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
Tech-sell-user/05 - IoC/Tech-sell-user.IoC/bin/Debug/net7.0/Tech-sell-user.IoC.pdb
Tech-sell-user/05 - IoC/Tech-sell-user.IoC/bin/Debug/net7.0/Tech-sell-user.IoC.dll
Tech-sell-user/05 - IoC/Tech-sell-user.IoC/bin/Debug/net7.0/Tech-sell-user.IoC.deps.json
Tech-sell-user/04 - Database/Tech-sell-user.Database/obj/Tech-sell-user.Database.csproj.nuget.g.targets
Tech-sell-user/04 - Database/Tech-sell-user.Database/obj/Tech-sell-user.Database.csproj.nuget.g.props
Tech-sell-user/04 - Database/Tech-sell-user.Database/obj/Tech-sell-user.Database.csproj.nuget.dgspec.json
Tech-sell-user/04 - Database/Tech-sell-user.Database/obj/project.nuget.cache
Tech-sell-user/04 - Database/Tech-sell-user.Database/obj/project.assets.json
Tech-sell-user/04 - Database/Tech-sell-user.Database/obj/Debug/net7.0/Tech-sell-user.Database.pdb
Tech-sell-user/04 - Database/Tech-sell-user.Database/obj/Debug/net7.0/Tech-sell-user.Database.GlobalUsings.g.cs
Tech-sell-user/04 - Database/Tech-sell-user.Database/obj/Debug/net7.0/Tech-sell-user.Database.GeneratedMSBuildEditorConfig.editorconfig
Tech-sell-user/04 - Database/Tech-sell-user.Database/obj/Debug/net7.0/Tech-sell-user.Database.dll
Tech-sell-user/04 - Database/Tech-sell-user.Database/obj/Debug/net7.0/Tech-sell-user.Database.csproj.FileListAbsolute.txt
Tech-sell-user/04 - Database/Tech-sell-user.Database/obj/Debug/net7.0/Tech-sell-user.Database.csproj.CoreCompileInputs.cache
Tech-sell-user/04 - Database/Tech-sell-user.Database/obj/Debug/net7.0/Tech-sell-user.Database.csproj.AssemblyReference.cache
Tech-sell-user/04 - Database/Tech-sell-user.Database/obj/Debug/net7.0/Tech-sell-user.Database.assets.cache
Tech-sell-user/04 - Database/Tech-sell-user.Database/obj/Debug/net7.0/Tech-sell-user.Database.AssemblyInfoInputs.cache
Tech-sell-user/04 - Database/Tech-sell-user.Database/obj/Debug/net7.0/Tech-sell-user.Database.AssemblyInfo.cs
Tech-sell-user/04 - Database/Tech-sell-user.Database/obj/Debug/net7.0/refint/Tech-sell-user.Database.dll
Tech-sell-user/04 - Database/Tech-sell-user.Database/obj/Debug/net7.0/ref/Tech-sell-user.Database.dll
Tech-sell-user/04 - Database/Tech-sell-user.Database/obj/Debug/net7.0/_IsIncrementalBuild
Tech-sell-user/04 - Database/Tech-sell-user.Database/obj/Debug/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
Tech-sell-user/04 - Database/Tech-sell-user.Database/bin/Debug/net7.0/Tech-sell-user.Database.pdb
Tech-sell-user/04 - Database/Tech-sell-user.Database/bin/Debug/net7.0/Tech-sell-user.Database.dll
Tech-sell-user/04 - Database/Tech-sell-user.Database/bin/Debug/net7.0/Tech-sell-user.Database.deps.json
Tech-sell-user/03 - Application/Tech-sell-user.Application/obj/Tech-sell-user.Application.csproj.nuget.g.targets
Tech-sell-user/03 - Application/Tech-sell-user.Application/obj/Tech-sell-user.Application.csproj.nuget.g.props
Tech-sell-user/03 - Application/Tech-sell-user.Application/obj/Tech-sell-user.Application.csproj.nuget.dgspec.json
Tech-sell-user/03 - Application/Tech-sell-user.Application/obj/project.nuget.cache
Tech-sell-user/03 - Application/Tech-sell-user.Application/obj/project.assets.json
Tech-sell-user/03 - Application/Tech-sell-user.Application/obj/Debug/net7.0/Tech-sell-user.Application.pdb
Tech-sell-user/03 - Application/Tech-sell-user.Application/obj/Debug/net7.0/Tech-sell-user.Application.GlobalUsings.g.cs
Tech-sell-user/03 - Application/Tech-sell-user.Application/obj/Debug/net7.0/Tech-sell-user.Application.GeneratedMSBuildEditorConfig.editorconfig
Tech-sell-user/03 - Application/Tech-sell-user.Application/obj/Debug/net7.0/Tech-sell-user.Application.dll
Tech-sell-user/03 - Application/Tech-sell-user.Application/obj/Debug/net7.0/Tech-sell-user.Application.csproj.FileListAbsolute.txt
Tech-sell-user/03 - Application/Tech-sell-user.Application/obj/Debug/net7.0/Tech-sell-user.Application.csproj.CoreCompileInputs.cache
Tech-sell-user/03 - Application/Tech-sell-user.Application/obj/Debug/net7.0/Tech-sell-user.Application.csproj.AssemblyReference.cache
Tech-sell-user/03 - Application/Tech-sell-user.Application/obj/Debug/net7.0/Tech-sell-user.Application.assets.cache
Tech-sell-user/03 - Application/Tech-sell-user.Application/obj/Debug/net7.0/Tech-sell-user.Application.AssemblyInfoInputs.cache
Tech-sell-user/03 - Application/Tech-sell-user.Application/obj/Debug/net7.0/Tech-sell-user.Application.AssemblyInfo.cs
Tech-sell-user/03 - Application/Tech-sell-user.Application/obj/Debug/net7.0/refint/Tech-sell-user.Application.dll
Tech-sell-user/03 - Application/Tech-sell-user.Application/obj/Debug/net7.0/ref/Tech-sell-user.Application.dll
Tech-sell-user/03 - Application/Tech-sell-user.Application/obj/Debug/net7.0/_IsIncrementalBuild
Tech-sell-user/03 - Application/Tech-sell-user.Application/obj/Debug/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
Tech-sell-user/03 - Application/Tech-sell-user.Application/bin/Debug/net7.0/Tech-sell-user.Application.pdb
Tech-sell-user/03 - Application/Tech-sell-user.Application/bin/Debug/net7.0/Tech-sell-user.Application.dll
Tech-sell-user/03 - Application/Tech-sell-user.Application/bin/Debug/net7.0/Tech-sell-user.Application.deps.json
Tech-sell-user/02 - Domain/Tech-sell-user.Domain/obj/Tech-sell-user.Domain.csproj.nuget.g.targets
Tech-sell-user/02 - Domain/Tech-sell-user.Domain/obj/Tech-sell-user.Domain.csproj.nuget.g.props
Tech-sell-user/02 - Domain/Tech-sell-user.Domain/obj/Tech-sell-user.Domain.csproj.nuget.dgspec.json
Tech-sell-user/02 - Domain/Tech-sell-user.Domain/obj/project.nuget.cache
Tech-sell-user/02 - Domain/Tech-sell-user.Domain/obj/project.assets.json
Tech-sell-user/02 - Domain/Tech-sell-user.Domain/obj/Debug/net7.0/Tech-sell-user.Domain.pdb
Tech-sell-user/02 - Domain/Tech-sell-user.Domain/obj/Debug/net7.0/Tech-sell-user.Domain.GlobalUsings.g.cs
Tech-sell-user/02 - Domain/Tech-sell-user.Domain/obj/Debug/net7.0/Tech-sell-user.Domain.GeneratedMSBuildEditorConfig.editorconfig
Tech-sell-user/02 - Domain/Tech-sell-user.Domain/obj/Debug/net7.0/Tech-sell-user.Domain.dll
Tech-sell-user/02 - Domain/Tech-sell-user.Domain/obj/Debug/net7.0/Tech-sell-user.Domain.csproj.FileListAbsolute.txt
Tech-sell-user/02 - Domain/Tech-sell-user.Domain/obj/Debug/net7.0/Tech-sell-user.Domain.csproj.CoreCompileInputs.cache
Tech-sell-user/02 - Domain/Tech-sell-user.Domain/obj/Debug/net7.0/Tech-sell-user.Domain.csproj.AssemblyReference.cache
Tech-sell-user/02 - Domain/Tech-sell-user.Domain/obj/Debug/net7.0/Tech-sell-user.Domain.assets.cache
Tech-sell-user/02 - Domain/Tech-sell-user.Domain/obj/Debug/net7.0/Tech-sell-user.Domain.AssemblyInfoInputs.cache
Tech-sell-user/02 - Domain/Tech-sell-user.Domain/obj/Debug/net7.0/Tech-sell-user.Domain.AssemblyInfo.cs
Tech-sell-user/02 - Domain/Tech-sell-user.Domain/obj/Debug/net7.0/refint/Tech-sell-user.Domain.dll
Tech-sell-user/02 - Domain/Tech-sell-user.Domain/obj/Debug/net7.0/ref/Tech-sell-user.Domain.dll
Tech-sell-user/02 - Domain/Tech-sell-user.Domain/obj/Debug/net7.0/_IsIncrementalBuild
Tech-sell-user/02 - Domain/Tech-sell-user.Domain/obj/Debug/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
Tech-sell-user/02 - Domain/Tech-sell-user.Domain/Class1.cs
Tech-sell-user/02 - Domain/Tech-sell-user.Domain/bin/Debug/net7.0/Tech-sell-user.Domain.pdb
Tech-sell-user/02 - Domain/Tech-sell-user.Domain/bin/Debug/net7.0/Tech-sell-user.Domain.dll
Tech-sell-user/02 - Domain/Tech-sell-user.Domain/bin/Debug/net7.0/Tech-sell-user.Domain.deps.json
Tech-sell-user/01 - API/Tech-sell-user.Api/Properties/launchSettings.json
Tech-sell-user/01 - API/Tech-sell-user.Api/Program.cs
Tech-sell-user/01 - API/Tech-sell-user.Api/obj/Tech-sell-user.Api.csproj.nuget.g.targets
Tech-sell-user/01 - API/Tech-sell-user.Api/obj/Tech-sell-user.Api.csproj.nuget.g.props
Tech-sell-user/01 - API/Tech-sell-user.Api/obj/Tech-sell-user.Api.csproj.nuget.dgspec.json
Tech-sell-user/01 - API/Tech-sell-user.Api/obj/project.nuget.cache
Tech-sell-user/01 - API/Tech-sell-user.Api/obj/project.assets.json
Tech-sell-user/01 - API/Tech-sell-user.Api/obj/Debug/net7.0/Tech-sell-user.Api.MvcApplicationPartsAssemblyInfo.cs
Tech-sell-user/01 - API/Tech-sell-user.Api/obj/Debug/net7.0/Tech-sell-user.Api.MvcApplicationPartsAssemblyInfo.cache
Tech-sell-user/01 - API/Tech-sell-user.Api/obj/Debug/net7.0/Tech-sell-user.Api.GlobalUsings.g.cs
Tech-sell-user/01 - API/Tech-sell-user.Api/obj/Debug/net7.0/Tech-sell-user.Api.GeneratedMSBuildEditorConfig.editorconfig
Tech-sell-user/01 - API/Tech-sell-user.Api/obj/Debug/net7.0/Tech-sell-user.Api.csproj.FileListAbsolute.txt
Tech-sell-user/01 - API/Tech-sell-user.Api/obj/Debug/net7.0/Tech-sell-user.Api.csproj.CoreCompileInputs.cache
Tech-sell-user/01 - API/Tech-sell-user.Api/obj/Debug/net7.0/Tech-sell-user.Api.csproj.AssemblyReference.cache
Tech-sell-user/01 - API/Tech-sell-user.Api/obj/Debug/net7.0/Tech-sell-user.Api.assets.cache
Tech-sell-user/01 - API/Tech-sell-user.Api/obj/Debug/net7.0/Tech-sell-user.Api.AssemblyInfoInputs.cache
Tech-sell-user/01 - API/Tech-sell-user.Api/obj/Debug/net7.0/Tech-sell-user.Api.AssemblyInfo.cs
Tech-sell-user/01 - API/Tech-sell-user.Api/obj/Debug/net7.0/apphost.exe
Tech-sell-user/01 - API/Tech-sell-user.Api/obj/Debug/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
Tech-sell-user/01 - API/Tech-sell-user.Api/Controllers/WeatherForecastController.cs
Tech-sell-user/.vs/Tech-sell-user/v17/.suo
Tech-sell-user/.vs/Tech-sell-user/v17/.futdcache.v2
Tech-sell-user/.vs/Tech-sell-user/FileContentIndex/read.lock
Tech-sell-user/.vs/Tech-sell-user/FileContentIndex/e5ec5a78-6dbc-4247-96d4-3fe66d6b155d.vsidx
Tech-sell-user/.vs/Tech-sell-user/FileContentIndex/47cf11b4-526c-4b6f-a34e-1f7ac41ac8d4.vsidx
Tech-sell-user/.vs/Tech-sell-user/FileContentIndex/0838d7d3-f551-4c71-9551-112e02f0336c.vsidx
Tech-sell-user/.vs/Tech-sell-user/FileContentIndex/076f8490-1181-4b08-93a9-00b0d397652e.vsidx
Tech-sell-user/.vs/Tech-sell-user/DesignTimeBuild/.dtbcache.v2
Tech-sell-user/.vs/Tech-sell-user/config/applicationhost.config
Tech-sell-user/.vs/ProjectEvaluation/tech-sell-user.projects.v5.2
Tech-sell-user/.vs/ProjectEvaluation/tech-sell-user.metadata.v5.2
